header {
  background: purple;
  height: 60px;
  line-height: 1.8;
}
nav {
  height: 100%;
  line-height: 2.5;
}
.white {
  color: white !important;
}
.logo {
  color: white;
  font-size: 30px;
}
.card-text {
  flex: 1 1 auto;
}
.card-body {
  display: flex;
  flex-direction: column;
}
.nav a {
  font-size: 20px;
  color:white;
  text-decoration: none;
  line-height: 2.8;
  margin-right: 10px;
}
.nav a:hover {
  color:white;
  text-decoration: underline;
}